/* src/components/Preloader/Preloader.css */
.preloader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(233, 0, 0, 0.8); semi-transparent overlay */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  /* Media query for screens smaller than 768px (Smartphones and Small Tablets) */
@media only screen and (max-width: 767px) {
  /* Styles for screens smaller than 768px */
}

/* Media query for screens between 768px and 991px (Larger Smartphones and Tablets) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Styles for screens between 768px and 991px */
}

/* Media query for screens between 992px and 1199px (Tablets and Laptops) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Styles for screens between 992px and 1199px */
}

/* Media query for screens larger than 1200px (Desktops and Larger Laptops) */
@media only screen and (min-width: 1200px) {
  /* Styles for screens larger than 1200px */
}

  